<h3>{{viewTitle}}</h3>

<form action="/dog" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{dog._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="name" value="{{dog.name}}">
        <div class="text-danger">
            {{dog.nameError}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="description" value="{{dog.description}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Breed</label>
            <input type="text" class="form-control" name="breed" placeholder="breed" value="{{dog.breed}}">
             <div class="text-danger">
            {{dog.breedError}}</div>
        </div>
        <div class="form-group col-md-6">
            <label>age</label>
            <input type="text" class="form-control" name="age" placeholder="age" value="{{dog.age}}">
        </div>
        <div class="form-group col-md-6">
            <label>sex</label>
            <input type="text" class="form-control" name="sex" placeholder="sex" value="{{dog.sex}}">
        </div>
         </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info red"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/dog/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>