<h3><a class="btn btn-secondary" href="/dog"><i class="fa fa-plus"></i> Create New</a> Dogs List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Breed</th>
            <th>age</th>
             <th>sex</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.breed}}</td>
            <td>{{this.age}}</td>
             <td>{{this.sex}}</td>
            <td>
                <a href="/dog/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/dog/delete/{{this._id}}" onclick="return confirm('Came and get your new puppy!!');"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="/dog/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>